@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: "JetBrains Mono", "Lucida Sans", monospace;
    color: white;
}

body {
    background-color: #252b42;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
    height:8%;
    padding: 16px 64px;
    font-size: 28px;
    background-color: #11141f;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}


.main-content {
    height: 92%;
    display: flex;
    flex-flow: row wrap;
}

.left-container, .right-container {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.left-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
}

.image-container {
    background-image: url("../media/stephen_lloyd.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0; 

    border-radius: 50%;
    border: 6px solid #404073;
    height: 600px;
    aspect-ratio: 1 / 1;
}
    
.links-content ul {
    list-style-type: none;
    font-size: 32px;
    padding: 8px 6px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 12px;
}

.link-name {
    font-weight: 600;
}

.right-content {
    display: flex;
    flex-flow: column nowrap;
}