@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "JetBrains Mono", "Lucida Sans", monospace;
    color: white;
    /* border: 1px solid black; */
}

body {
    background-color: #252b42;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
    height:8%;
    padding: 16px 64px;
    font-size: 28px;
    background-color: #11141f;
    border-bottom: 4px solid #222238;
    position: sticky;
    top: 0px;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.main-content {
    height: 92%;
    display: flex;
    flex-flow: row wrap;
}

.page-title {
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin: 36px;
}

.left-container {
    width: 40%;
    margin-left: 5%;
}

.right-container {
    width: 50%;
    margin-right: 5%;
}

.left-container, .right-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.left-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
}

.media-container {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0; 
    aspect-ratio: 1 / 1;
}

.image-container {
    background-image: url("../media/stephen_lloyd.png");
    border-radius: 50%;
    border: 6px solid #222238;
    height: 550px;
}

.image-container:hover {
    border-color: #404073; 
}
    
.links-content ul {
    list-style-type: none;
    font-size: 32px;
    padding: 8px 6px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 12px;
}

.links-content ul li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.link-icon {
    height: 42px;
    border-radius: 48px;
}

.github {
    background-image: url("https://skillicons.dev/icons?i=github");
}

.linkedin {
    background-image: url("https://skillicons.dev/icons?i=linkedin");
}

.link-name {
    font-weight: 600;
    text-decoration: none;
}

.link-name:hover {
    text-decoration: underline;
}

.right-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: 24px;
    height: 700px;
}

.introduction {
    font-size: 80px;
    color: #4b4b83;
}

.greeting {
    font-size: 100px;
}

.greeting, .name {
    margin: 4px 0px;
}

.introduction span#name {
    font-weight: 700;
    color: #9090e0;
}

.about-me {
    padding: 4px;
}

.content-container {
    border: 4px solid #222238;
    background-color: #27273f;
    padding: 28px;
    border-radius: 16px;
    text-align: justify;
}

.content-container:hover {
    border-color: #2f2f4c;
}

#projects-container {
    margin: 0px 104px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-height: 600px;

    /*scrolling*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#projects-container::-webkit-scrollbar {
    display: none;
}

.project-container {
    max-width: 640px;
    height: 250px;
    margin: 24px;
    border: 3px solid #222238;
    background-color: #27273f;
    padding: 28px;
    padding-bottom: 24px;
    border-radius: 16px;
    font-size: 20px;
}

.project-container:hover {
    border-color: #2f2f4c;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    color:#c4c4f8;
}

.project-description {
    text-align: justify;
}

.project-link a span:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid white;
}

.labels-container {
    margin-top: 16px;
}

.labels-container ul {
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    list-style-type: none;
    gap: 16px;
}

.labels-container ul li {
    font-size: 16px;
    border-radius: 16px;
    background-color: #4e4667d6;
    padding: 6px 12px;
    font-weight: 600;
}

.labels-container ul li:hover {
    text-decoration: underline;
}
